<div class="psychometric-page">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-theme no-border noselect">
          <div class="box-body" ng-show="stage==STAGES.LANG_CHOICE">
            <article class="card">Psychometric Test</article>
            <br>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <select ng-model="chosenLanguage" class="form-control" ng-options="item.value as item.name for item in LANGUAGES">
                  <option value="">Choose a language</option>
                </select>
              </div>
            </div>
            <br>
            <br>
            <div class="text-center">
              <a class="color-theme" ng-show="chosenLanguage" ng-click="moveStage(STAGES.INSTRUCTIONS)">
                <i class="fa fa-chevron-circle-right" style="font-size:40px"></i>
              </a>
            </div>
          </div>
          <div class="box-body" ng-show="stage==STAGES.INSTRUCTIONS">
            Instructions
              <button class="btn btn-{{test?'theme':(preparationFailed?'danger':'default')}} pull-right" ng-disabled="!test" ng-click="moveStage('TEST')">{{test?'Start Test':(preparationFailed?'Question Preparation Failed':'Preparing Questionnaire..')}}</button>
          </div>
          <div class="box-body" ng-show="stage==STAGES.TEST">
            <h3>
              {{ indexText() }}<small>/{{ test.questions.length }}</small>
              <span class="test-duration pull-right"></span>
              <a href="" class="play-pause" ng-show="allowedIntervals && testPaused" ng-click="pauseResumeTestCountdown(false, $event)"><span>Play</span> <i class="fa fa-play"></i></a>
              <a href="" class="play-pause" ng-show="allowedIntervals && !testPaused" ng-click="pauseResumeTestCountdown(true, $event)"><span>Pause</span> <i class="fa fa-pause"></i></a>
            </h3>
            <article ng-hide="testPaused" ng-if="!test.questions[currentIndex].pictorial && !test.questions[currentIndex].linked">
              <div class="question" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <ul class="options radios">
                <li ng-repeat="option in test.questions[currentIndex].options" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
              <button class="btn btn-{{test.questions[currentIndex].answerId?'theme':'default'}} pull-right" ng-disabled="!test.questions[currentIndex].answerId" ng-click="submit()">Next</button>
            </article>
            <article ng-hide="testPaused" ng-if="test.questions[currentIndex].pictorial && !test.questions[currentIndex].linked">
              <div class="question pictorial" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <ul class="options radios pictorial">
                <li ng-repeat="option in test.questions[currentIndex].options" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
              <button class="btn btn-{{test.questions[currentIndex].answerId?'theme':'default'}} pull-right" ng-disabled="!test.questions[currentIndex].answerId" ng-click="submit()">Next</button>
            </article>
            <article ng-hide="testPaused" ng-if="!test.questions[currentIndex].pictorial && test.questions[currentIndex].linked">
              <div class="question linked" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <ul class="options radios">
                <li ng-repeat="option in test.questions[currentIndex].options" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
              <button class="btn btn-{{test.questions[currentIndex].answerId?'theme':'default'}} pull-right" ng-disabled="!test.questions[currentIndex].answerId" ng-click="submit()">Next</button>
            </article>
            <article ng-show="testPaused" class="card">
              Take a break!
              <br>
              <span class="break-duration"></span>
            </article>
          </div>
          <div class="box-body" ng-show="stage==STAGES.END">
            <article class="card">
              You've successfully completed the test!!
              <br>
              <button class="btn btn-theme" ng-click="complete()">Close</button>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
<style type="text/css">
  @import url("process/pages/templates/Psychometric.Test.css");
</style>
</div>