<div class="psychometric-page">
	<div ng-show="error" class="alert alert-danger alert-dismissible" style="border-radius: 0; margin-bottom: 0; background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-ban">&nbsp;</i>{{ error.errorCode?error.errorCode:error.error }}</h4>
		{{ error.errorMsg?error.errorMsg:error.message }}
	</div>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-theme no-border noselect">
          <div class="box-body" ng-show="stage==STAGES.LANG_CHOICE">
            <article class="card" style="padding-top: 80px;">Psychometric Test</article>
            <br>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                <b>{{ participantCustomer }}</b>
                <br>
                Application: <b>{{ applicationId }}</b>
                <br>
                Created by: <b>{{ createdByUser }}</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <select ng-model="chosenLanguage" class="form-control" ng-options="item.langCode as item.language for item in LANGUAGES">
                  <option value="">Choose a language</option>
                </select>
              </div>
            </div>
            <br>
            <br>
            <div class="text-center">
              <a class="color-theme" ng-show="chosenLanguage" ng-click="moveStage(STAGES.INSTRUCTIONS)">
                <i class="fa fa-chevron-circle-right" style="font-size:40px"></i>
              </a>
            </div>
          </div>
          <div class="box-body instructions" ng-show="stage==STAGES.INSTRUCTIONS">
            <h3>
              Instructions
              <button class="btn btn-{{test?'theme':(testStatus == 'Failed'?'danger':'default')}} pull-right" ng-disabled="!test" ng-click="moveStage('TEST')">{{test?'Start Test':(testStatus == 'Failed'?'Question Preparation Failed':'Preparing Questionnaire..')}}</button>
              <button ng-show="testStatus == 'Failed'" class="btn btn-default pull-right gap-10" ng-click="moveStage(STAGES.INSTRUCTIONS)">Retry</button>
            </h3>
            <div class="instruction-container">
              <p class="instruction-1">{{ 'Current question by total questions' | translate }}</p>
              <p class="instruction-2">{{ 'Press here for break' | translate }}</p>
              <p class="instruction-3">{{ 'View countdown of test duration' | translate }}</p>
              <p class="instruction-4">{{ 'Choose an option' | translate }}</p>
              <p class="instruction-5">{{ 'Press next' | translate }}</p>
              <img class="bg" src="" ng-src="{{instructionImage}}">
            </div>
          </div>
          <div class="box-body test" ng-show="stage==STAGES.TEST">
            <h3>
              {{ indexText() }}<small>/{{ test.questions.length }}</small>
              <span class="test-duration pull-right"></span>
              <a href="" class="play-pause" ng-show="allowedIntervals && testPaused" ng-click="pauseResumeTestCountdown(false, $event)"><span>Play</span> <i class="fa fa-play"></i></a>
              <a href="" class="play-pause" ng-show="allowedIntervals && !testPaused" ng-click="pauseResumeTestCountdown(true, $event)"><span>Pause</span> <i class="fa fa-pause"></i></a>
            </h3>
            <article ng-hide="testPaused" ng-if="!test.questions[currentIndex].pictorial && (!test.questions[currentIndex].linked || test.questions[currentIndex].linkOrder == 1)">
              <div class="question" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <ul class="options radios">
                <li ng-repeat="option in test.questions[currentIndex].options" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
            </article>
            <article ng-hide="testPaused" ng-if="test.questions[currentIndex].pictorial && (!test.questions[currentIndex].linked || test.questions[currentIndex].linkOrder == 1)">
              <div class="question pictorial" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <ul class="options radios pictorial">
                <li ng-repeat="option in test.questions[currentIndex].options" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
            </article>
            <article ng-hide="testPaused" ng-if="!test.questions[currentIndex].pictorial && test.questions[currentIndex].linked && test.questions[currentIndex].linkOrder == 2">
              <div class="question linked" ng-bind-html="test.questions[currentIndex].questionText"></div>
              <div class="option linked"><i class="fa fa-dot-circle-o">&nbsp;</i>{{ (test.questions[currentIndex-1].options | filter:{id:test.questions[currentIndex-1].answerId}:true)[0].optionText }}</div>
              <ul class="options radios">
                <li ng-repeat="option in test.questions[currentIndex].options | filter:{linkedOption:test.questions[currentIndex-1].answerId}:true" ng-class="{selected:test.questions[currentIndex].answerId==option.id}">
                  <label class="radio-item radio-theme">
                    <input type="radio" name="r1"
                      ng-model="test.questions[currentIndex].answerId"
                      ng-value="option.id"
                    >
                    <span class="control-indicator"></span>
                    <span class="radio-label" ng-bind-html="option.optionText"></span>
                  </label>
                </li>
              </ul>
            </article>
            <div class="button-bar">
              <button ng-hide="testPaused" data-spy="affix" data-offset-bottom="0" class="skip btn btn-default pull-left" ng-click="skip()">Skip</button>
              <button ng-hide="testPaused" data-spy="affix" data-offset-bottom="0" class="next btn btn-{{test.questions[currentIndex].answerId?'theme':'default'}} pull-right" ng-disabled="!test.questions[currentIndex].answerId" ng-click="next()">Next</button>
            </div>
            <article ng-show="testPaused" class="card">
              Take a break!
              <br>
              <span class="break-duration"></span>
            </article>
          </div>
          <div class="box-body end" ng-show="stage==STAGES.END">
            <article class="card">
              {{testStatus=='Close'?"Answers submitted successfully":testStatus}}
              <br>
              <button class="btn btn-theme" ng-show="testStatus=='Submission failed'" ng-click="submitAnswers()">Retry</button>
              <br>
              <button class="btn btn-theme" ng-hide="testStatus=='Submitting'" ng-click="closeTest()">Close</button>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
<style type="text/css">
  @import url("process/pages/templates/Psychometric.Test.css");
</style>
</div>