<div>
  <style>
    svg {
      display: block;
      width: 100%;
      margin: 5px;
    }
    .bi-chart {
      height: 300px;
      width: 100%;
    }
    .bundle-page .bundle-tabset ul.nav-tabs > li:first-child {
      margin-left: 15px !important;
    }
    .content {
      min-height: 0px;
      padding-bottom: 0px;
    }
    .filter-form {
      display: inline;
    }
    .filter-form select {
      background-color: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      width: 120px;
      outline: none;
      font-size: 14px;
    }
  </style>
  <section class="content-header">
    <h1>
      <span><a href style="color:#333">Reports Dashboard</a></span>
      <div
        ng-show="currentUserAccessLevel <= filterAccessLevels[filterAccessLevels.length-1]"
        class="filter-form pull-right">
        <small>View As:</small>
        <select
          ng-repeat="fal in filterAccessLevels"
          ng-options="node.name for node in fNodes[$index] track by node.id"
          ng-model="fSelect[$index]"
          ng-change="listNextAccessLevelItems(filterAccessLevels[$index + 1], fSelect[$index].id, $index + 1)"></select>
        <button ng-click="applyFilter()" class="btn btn-default btn-xs"><i class="fa fa-filter">&nbsp;</i>Apply Filter</button>
      </div>
    </h1>
  </section>

  <div class="bundle-page">
    <uib-tabset active="active" class="bundle-tabset">
      <uib-tab class="tab-theme uib-tab nav-item" select="onTabLoad(TabNames.menu_id, $index)" ng-repeat="TabNames in TabDefinition.ReportData" heading="{{ TabNames.menu_name }}">
        <section class="content">
          <div class="row">
            <div class="col-sm-12">
              <div ng-hide="ResultDataSet[$index].length">
                <br>
                <br>
                <center>No Reports Available...</center>
                <br>
                <br>
              </div>
              <div ng-repeat="SingleReport in ResultDataSet[$index]">
                <div class="{{ SingleReport.ClassName }}">
                  <div class="box box-theme">
                    <div class="box-header with-border">
                      <h3 class="box-title">{{ SingleReport.TableTitle }}</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-down"></i></button>
                      </div>
                    </div>
                    <div class="box-body table-responsive" ng-if="SingleReport.ReportType == 'SimpleTable'">
                      <table class="table table-striped" ng-repeat="RepeatTables in SingleReport.records">
                        <tr ng-if="SingleReport.DrillDownReq == '1'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">
                            <a ng-click="onHeaderClick(key, SingleReport.unique_id)">{{ key }}</a>
                          </th>
                        </tr>
                        <tr ng-if="SingleReport.DrillDownReq == '0'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">{{ key }}</th>
                        </tr>
                        <tr ng-repeat="row in RepeatTables">
                          <td ng-repeat="col in row" align="right">{{ col }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="box-body table-responsive" ng-if="SingleReport.ReportType == 'TwoDimensional'">
                      <table class="table table-striped" ng-repeat="RepeatTables in SingleReport.records">
                        <tr ng-if="SingleReport.DrillDownReq == '1'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">
                            <a ng-click="onHeaderClick(key, SingleReport.unique_id)">{{ key }}</a>
                          </th>
                        </tr>
                        <tr ng-if="SingleReport.DrillDownReq == '0'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">{{ key }}</th>
                        </tr>
                        <tr ng-repeat="row in RepeatTables">
                          <td ng-repeat="col in row">{{ col }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="box-body table-responsive" ng-if="SingleReport.ReportType == 'Merge'">
                      <table class="table table-striped" ng-repeat="RepeatTables in SingleReport.records">
                        <tr ng-if="SingleReport.DrillDownReq == '1'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">
                            <a ng-click="onHeaderClick(key, SingleReport.unique_id)">{{ key }}</a>
                          </th>
                        </tr>
                        <tr ng-if="SingleReport.DrillDownReq == '0'">
                          <th ng-repeat="(key, value) in RepeatTables[0]" align="left">{{ key }}</th>
                        </tr>
                        <tr ng-repeat="row in RepeatTables">
                          <td ng-repeat="col in row">{{ col }}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="box-body table-responsive" ng-if="SingleReport.ReportType == 'CHART'">
                      <div id="{{SingleReport.ChartIDName}}" class="bi-chart"><svg></svg></div>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
          </div>
        </section>
      </uib-tab>
    </uib-tabset>
  </div>
</div>