<div>
    <section class="content-header">
        <h1>404</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-bullhorn"></i>
                            {{' Page is missing/ having errors' | translate}}
                        </h3>
                    </div>
                    <div class="box-body">
                        <h4>{{pageName}}</h4>
                        <div style="padding:10px">
                            <img src="img/404.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
