<div>
    <section class="content-header">
        <h1>
            <span><a href style="color:#333">{{ timelineName | translate }}</a></span>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline">

                    <!-- timeline time label -->
                    <li class="time-label"><span class="bg-red">10 Feb. 2014</span></li>

                    <!-- timeline item -->
                    <li>
                        <!-- timeline icon -->
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                            <h3 class="timeline-header">Document Upload</h3>

                            <div class="timeline-body">
                                Content html
                            </div>

                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs">View Documents</a>
                            </div>
                        </div>
                    </li>
                <!-- END timeline item -->
                </ul>
            </div>
        </div>
    </section>
</div>
