<div>
    <section class="content-header">
        <h1 ng-click="loadPage($event)" style="cursor:pointer">
            {{:: page.title | translate }} <small>{{:: page.subTitle | translate }}</small>
        </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-theme no-border">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'OFFLINE_SAVED_RECORDS' | translate }}</h3>
            </div>
            <div class="box-body form-horizontal">
                <irf-list-view
                  list-style="basic"
                  list-info="offlineListInfo"
                  irf-list-items="displayItems"
                  irf-list-actual-items="offlineItems"
                  callback="callback(item, index)"></irf-list-view>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
