<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="img-circle img-responsive" src="img/icon.png" style="opacity:.8"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><!-- <b>IRF</b> -->{{ $parent.appName }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-theme navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- <a href="#" class="logo-mobile-title" data-toggle="offcanvas"><span><b>IRF</b>{{ $parent.appName }}</span></a> -->

        <div class="header-corporate-logo">
            <img class="header-corporate-logo-img" src="img/corporate_logo.png" />
        </div>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li ng-show="$parent.latest_apk_url && !$parent.latest_apk_force_upgrade" class="dropdown notifications-menu">
                    <a href="" class="dropdown-toggle breathe_white_transparent" ng-href="{{$parent.latest_apk_url}}" target="_blank">
                        <i class="fa fa-cloud-download"></i>
                    </a>
                </li>
                <!-- TODO to be removed. for perdix 7 compatibility -->
                <li ng-show="$parent.connect_perdix7" class="dropdown notifications-menu">
                    <a href="" class="dropdown-toggle" onclick="parent.switchApp()">
                        <strong>7</strong>
                    </a>
                </li>
                <!-- Colors: style cannot ;) be found in dropdown.less -->
                <li class="dropdown notifications-menu" ng-if="ss.session.offline!==true">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-paint-brush"></i>
                    </a>
                    <ul class="dropdown-menu color-palette">
                        <li class="header">
                            <button class="btn btn-theme-blue" onclick="return themeswitch.changeTheme('blue', true)">{{ 'Blue' | translate }}</button>
                            <button class="btn btn-theme-purple" onclick="return themeswitch.changeTheme('purple', true)">{{ 'Purple' | translate }}</button>
                            <button class="btn btn-theme-green" onclick="return themeswitch.changeTheme('green', true)">{{ 'Green' | translate }}</button>
                            <button class="btn btn-theme-yellow" onclick="return themeswitch.changeTheme('yellow', true)">{{ 'Yellow' | translate }}</button>
                            <button class="btn btn-theme-fuchsia" onclick="return themeswitch.changeTheme('fuchsia', true)">{{ 'Fuchsia' | translate }}</button>
                            <button class="btn btn-theme-gray" onclick="return themeswitch.changeTheme('gray', true)">{{ 'Gray' | translate }}</button>
                        </li>
                    </ul>
                </li>
                <!-- Language Selection ->
                <li class="dropdown notifications-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ languages[ss.session.language].codeLanguage }}</a><ul class="dropdown-menu"><li><ul class="menu">
                    <li ng-repeat="lang in languages">
                        <a href="#" ng-click="changeLanguage(lang)">
                            <i class="fa fa-language color-theme"></i>
                            {{ lang.titleEnglish | translate }} - {{ lang.titleLanguage }}
                        </a>
                    </li>
                </ul></li></ul></li>
                <!- Font Size Selection -->
                <li ng-if="isTouchDevice" class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-text-size"></i>
                        <span class="label label-warning" ng-if="scalePercent">{{scalePercent}}</span>
                    </a>
                    <ul class="dropdown-menu font-menu">
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#" ng-click="changeFontSize($event, true)" style="font-size:15px">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'INC_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="changeFontSize($event, false)" style="font-size:12px">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'DEC_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                                <li ng-if="scalePercent">
                                    <a href="#" ng-click="changeFontSize($event)">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'RESET_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="" ng-src="{{ photo }}" class="user-image" alt="User Image" onError="this.onerror=null;this.src='img/unknownUser.jpg'">
                        <span class="hidden-xs">{{ ss.getUsername() }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-theme">
                            <img src="" ng-src="{{ photo }}" class="img-circle" alt="User Image" onError="this.onerror=null;this.src='img/unknownUser.jpg'">

                            <p>
                                {{ ss.getUsername() }} - {{ ss.getRole() | translate }}
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body" ng-show="ss.settings.consoleLog">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <a href="#" ng-click="showLogs()"><i class="fa fa-terminal">&nbsp;</i>Console Logs</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#" ng-click="clearLogs()"><i class="fa fa-sticky-note-o">&nbsp;</i>Clear Logs</a>
                                </div>
                                <!-- <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div> -->
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left" ng-show="!$parent.latest_apk_force_upgrade">
                                <a ng-click="gotoPageEngine({pageName: 'UserProfile', pageId: ss.session.login})" href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a ng-click="logout()" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-if="$parent.latest_apk_force_upgrade" style="position:fixed;left:0;top:50px;right:0;bottom:0;background-color:rgba(0,0,0,0.65);text-align:center">
        <div style="padding-top:100px">
            <a href="" ng-href="{{$parent.$parent.latest_apk_url}}" target="_blank" style="color:#fff;display:block;">
                <i class="fa fa-cloud-download" style="font-size:7rem;text-shadow:0 0 80px #000"></i>
                <div style="font-size:1.6rem;text-shadow:0 0 30px rgba(0,0,0,0.8)">Upgrade Application</div>
                <div style="text-shadow:0 0 15px #000">to continue...</div>
            </a>
        </div>
    </div>
</header>