<div class="center-box login-box">
    <div class="box box-widget widget-user-2 animat effect7" ng-class="{anim:showLoading}">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-theme">
            <div class="widget-user-image">
                <img class="img-circle" src="img/icon.png" style="opacity:.8">
            </div><!-- /.widget-user-image -->
            <div class="login-corporate-logo" ng-show="$parent.appConfig.CORPORATE_LOGO">
                <img class="login-corporate-logo-img" src="" ng-src="{{$parent.appConfig.CORPORATE_LOGO}}"/>
            </div>
            <h3 class="widget-user-username" ng-hide="$parent.appConfig.CORPORATE_LOGO">{{ $parent.appName }}</h3>
            <h5 class="widget-user-desc" ng-hide="$parent.appConfig.CORPORATE_LOGO">Sign in to {{ $parent.appName }}</h5>
        </div>
        <div ng-bind="errorMessage" class="box-body animat error-body" ng-class="{anim:errorMessage}"></div>
        <div class="box-footer animat">
            <form class="form-horizontal">
                <div class="box-body pass-form">
                    <input type="text" ng-model="username" class="form-control" id="inputEmail3" placeholder="Used ID" autocomplete="off" required>
                    <br/>
                    <input type="password" ng-model="password" class="form-control" id="inputPassword3" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="box-footer">
                    <button type="button" ng-click="cancelRelogin()" class="btn btn-default login-button">&nbsp; Close &nbsp;</button>
                    <button type="button"
                        ng-disabled="!username || !password"
                        ng-click="showLoading = relogin(username, password)"
                        class="btn btn-theme pull-right login-button">&nbsp; Sign in &nbsp;</button>
                    <button type="reset" class="btn btn-default pull-right login-button">&nbsp; Clear &nbsp;</button>
                </div>
            </form>
        </div>
    </div>
    <center><div class="cantina-loader animat" ng-class="{anim:showLoading}" style="left:35px;top:-160px;"></div></center>
</div>
