.header-corporate-logo .header-corporate-logo-img,
.login-corporate-logo .login-corporate-logo-img {
	-webkit-filter: none;
	filter: none;
}

@base-bg: #e76526;
@base-border: darken(@base-bg, 10%);
.main-header li.user-header {
	background-color: @base-bg;
}
.skin-green-light .main-header .navbar {
	background-color: @base-bg !important;
}
.skin-green-light .main-header .logo {
	background-color: @base-bg !important;
}
.skin-green-light .main-header .logo:hover {
	background-color: lighten(@base-bg, 10%) !important;
}
.skin-green-light .main-header .navbar .nav>li>a:hover,
.skin-green-light .main-header .navbar .nav>li>a:focus,
.skin-green-light .main-header .navbar .nav>li>a:active,
.skin-green-light .main-header .navbar .nav>li>a.active {
	background-color: @base-border !important;
}
.skin-green-light .main-header .navbar .sidebar-toggle:hover {
	background-color: @base-border !important;
}


.cantina-loader {
    &:after {
        border-top-color: #e76526 !important;
    }
}
.spinner-section-far:before {
    border-top-color: #e76526 !important;
}
