.header-corporate-logo .header-corporate-logo-img,
.login-corporate-logo .login-corporate-logo-img {
  -webkit-filter: none;
  filter: none;
}
.cantina-loader:after {
  border-top-color: #c74702 !important;
}
.spinner-section-far:before {
  border-top-color: #c74702 !important;
}
