<div>
    <section class="content">
        <div class="row" ng-show="showDashboard">
            <irf-dashboard-box definition="dashboardDefinition"></irf-dashboard-box>
        </div>
        <div class="row">
            <irf-sf
                initialize="initialize(model, form, formCtrl)"
                irf-schema="schema"
                irf-form="form"
                irf-actions="actions"
                irf-model="model"
                irf-helper="formHelper"
                irf-form-name="formName"
                class="page-form">
                <div class="cantina-loader-wrapper"><div classs="cantina-loader"></div></div>
            </irf-sf>
        </div>
    </section>
</div>