<div class="wrapper">
    <irf-header theme="theme"></irf-header>
    <irf-main-menu></irf-main-menu>

    <div class="content-wrapper bg-tint-theme" ng-style="showLoaderBlocking?{position:initial}:{}">
        <ol class="breadcrumb" ng-show="breadcrumb.callstack.length || breadcrumb.current()">
            <li ng-repeat="callstack in breadcrumb.callstack">
                <a href="#" ng-click="breadcrumb.goBackTo($event, $index)" class="color-theme">
                    <i ng-show="callstack.$definition.iconClass" class="{{callstack.$definition.iconClass}}">&nbsp;</i>
                    <span>{{(callstack.$definition.title|translate)+(callstack.title?' ('+callstack.title+')':'')}}</span>
                </a>
            </li>
            <li ng-if="breadcrumb.current()" class="color-theme active">
                <i ng-show="breadcrumb.current().$definition.iconClass" class="{{breadcrumb.current().$definition.iconClass}}">&nbsp;</i>
                <span>{{(breadcrumb.current().$definition.title|translate)+(breadcrumb.current().title?' ('+breadcrumb.current().title+')':'')}}</span>
            </li>
        </ol>

        <div id="errors-wrapper">
            <div class="errors-container" ng-show="errors.length>0" style="padding: 0">
                <div class="alert alert-danger alert-dismissible" style="border-radius: 0; margin-bottom: 0; background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);">
                    <button type="button" class="close" ng-click="clearErrors()" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Errors</h4>
                    <ol>
                        <li ng-repeat="error in errors">
                            <span ng-bind-html="error.message"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="warnings-wrapper">
            <div class="warnings-container" ng-show="warnings.length>0" style="padding: 0">
                <div class="alert alert-warning alert-dismissible" style="border-radius: 0; margin-bottom: 0; background: linear-gradient(to bottom, #f39c12 0%,#ea7100 100%);">
                    <button type="button" class="close" ng-click="clearWarnings()" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-warning"></i> Warnings</h4>
                    <ol>
                        <li ng-repeat="warning in warnings">
                            <span ng-bind-html="warning.message"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="spinner-wrapper spinner-section-far-wrapper" ng-show="showSectionFarLoader">
            <div class="spinner-section-far"></div>
            <div class="spinner-section-far-text" ng-bind="showLoaderMsg"></div>
        </div>

        <ui-view onload="" ng-class="slide">
            <div class="cantina-loader-wrapper"><div classs="cantina-loader"></div></div>
        </ui-view>
        <div class="content-mask" data-toggle="offcanvas"></div>
    </div>

    <footer class="main-footer">
        <div class="footer-version pull-right hidden-xs">{{$parent.appManifest.version}}</div>
        <strong>Copyright &copy; 2017 IFMR Rural Finance.</strong> All rights reserved.
    </footer>
</div>
