<br/><br/><br/>

<div class="center-box login-box reset-box" style="margin-top:0">
    <div class="box box-widget widget-user-2 animat effect5" ng-class="{anim:showLoading}">
        <div class="box-footer animat">
            <div class="row">
                <div class="col-xs-4 text-center color-theme" style="padding-left:30px">
                    <i class="fa fa-lock" style="font-size:90px"></i>
                </div>
                <div class="col-xs-8" style="padding-left:0">
                    <h3 style="font-weight:300">Reset Password</h3>
                    <h5 style="">Change your password</h5>
                </div>
            </div>
            <div class="box-body animat error-body" ng-class="{anim:errorMessage}" ng-bind-html="errorMessage"></div>
            <form class="form-horizontal">
                <div class="box-body" style="font-size:14px;">
                    <input type="text" ng-model="c.username" placeholder="Username" class="form-control" autocomplete="off" required>
                    <input type="password" ng-model="c.oldPassword" placeholder="Current Password" class="form-control" autocomplete="off" required>
                    <input type="password" ng-model="c.newPassword" placeholder="New Password" class="form-control" autocomplete="off" required>
                    <input type="password" ng-model="c.newPassword2" placeholder="Re-enter Password" class="form-control" autocomplete="off" required>
                </div>
                <div class="box-footer">
                    <button type="button"
                        ng-click="c.resetPassword()"
                        class="btn btn-theme pull-right login-button">&nbsp;Reset Password&nbsp;</button>
                    <a href="" ui-sref="Login" class="pull-left" style="line-height:34px;color:#888">
                        <i class="fa fa-chevron-left">&nbsp;</i>
                        Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div style="text-align:center;margin-top:6px" ng-show="$parent.appConfig.CORPORATE_LOGO">
        <img style="height:20px" src="" ng-src="{{$parent.appConfig.CORPORATE_LOGO}}"/>
    </div>
    <center><div class="cantina-loader animat" ng-class="{anim:showLoading,cc:showLoading==='cc'}" style="left:35px;top:-160px;"></div></center>
</div>