<div>
  <uib-tabset active="activeIndex" class="bundle-tabset">
    <uib-tab index="$index" ng-repeat="pageObj in pages track by $index" class="{{(pageObj.formCtrl.$dirty && pageObj.formCtrl.$invalid) ? 'tab-danger': 'tab-theme'}}">
      <uib-tab-heading>
        {{ pageObj.title | translate }}
        <a ng-click="removeTab($index)" href="" ng-show="isRemovable(pageObj.bundlePage)">&nbsp;<i class="fa fa-times-circle {{((activeIndex == $index) || !(pageObj.formCtrl.$dirty && pageObj.formCtrl.$invalid)) ? 'color-theme' : ''}}"></i></a>
      </uib-tab-heading>

      <section ng-hide="pageObj.error" class="content-header">
        <h1>
          <span>
            <a href ng-click="expandCollapseView()" style="color:#333">
              <i ng-if="showCollapsedViewButton" class="fa {{collapsedView?'fa-plus-square-o':'fa-minus-square-o'}}">&nbsp;
              </i>
              {{ pageObj.title | translate }}
            </a>
          </span>
          <small>{{ pageObj.page.title | translate }}</small>
          <span ng-if="pageObj.page.offline">|&nbsp; 
            <small>
              <a href ng-click="loadOfflinePage($event)" style="color:#999">
                <i class="fa fa-save">&nbsp;</i>{{'SAVED_RECORDS'|translate}}
              </a>
            </small>
          </span>
        </h1>
      </section>
      <section ng-hide="pageObj.error" class="content">
      
        <div ng-switch="pageObj.page.type" class="row page-row">
          <div ng-switch-when="schema-form">
                <div ng-switch='pageObj.page.subType'>
                    <div ng-switch-when='sub-navigation' >
                        <div class="col-sm-4 content-menu" >
                            <ul class="sidebar-nav">
                                <li class="sidebar-brand">
                                <a href="#" class='btn btn-default btn-block'>
                                        Start Bootstrap
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Dashboard</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Shortcuts</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Overview</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Events</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>About</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Services</a>
                                </li>
                                <li>
                                    <a href="#" class='btn btn-default btn-block'>Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <irf-sf
                                    initialize="pageObj.page.initialize(pageObj.model, pageObj.page.form, pageObj.formCtrl)"
                                    irf-schema="pageObj.page.schema"
                                    irf-form="pageObj.page.form"
                                    irf-actions="pageObj.page.actions"
                                    irf-model="pageObj.model"
                                    irf-helper="pageObj.formHelper"
                                    irf-form-name="pageObj.formName"
                                    irf-form-ctrl="pageObj.formCtrl"
                                    class="page-form">
                                    <div class="cantina-loader-wrapper">
                                        <div classs="cantina-loader"></div>
                                    </div>
                                </irf-sf>                        
                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <irf-sf
                            initialize="pageObj.page.initialize(pageObj.model, pageObj.page.form, pageObj.formCtrl)"
                            irf-schema="pageObj.page.schema"
                            irf-form="pageObj.page.form"
                            irf-actions="pageObj.page.actions"
                            irf-model="pageObj.model"
                            irf-helper="pageObj.formHelper"
                            irf-form-name="pageObj.formName"
                            irf-form-ctrl="pageObj.formCtrl"
                            class="page-form">
                            <div class="cantina-loader-wrapper">
                                <div classs="cantina-loader"></div>
                            </div>
                        </irf-sf>                        
                    </div>
                </div>

          </div>
          <irf-resource-search-wrapper ng-switch-when="search-list"
            definition="pageObj.page.definition"
            initialize="pageObj.page.initialize(pageObj.model, pageObj.page.form, pageObj.formCtrl)"
            irf-model="pageObj.model">
          </irf-resource-search-wrapper>
        </div>
      </section>

      <section ng-show="pageObj.error" class="content">
        <div class="modal-dialog">
          <div class="modal-content effect2">
            <div class="modal-header">
              <h4 class="modal-title">{{'Page is missing/having errors' | translate}}
              </h4>
            </div>
            <div class="modal-body">
              <h4 style="position:absolute;top:10%;left:0;width:100%;text-align:center" ng-bind-html="pageObj.pageNameHtml">
              </h4>
              <div style="padding:10px">
                <img src="img/404.png" class="img-responsive">
              </div>
            </div>
          </div>   
        </div>
      </section>
    </uib-tab>

    <div uib-dropdown is-open="status.isopen" class="bundle-dropdown" ng-show="addTabMenu.length">
      <a uib-dropdown-toggle href="" class="color-theme"><i class="fa fa-plus-square"></i></a>
      <ul class="dropdown-menu dropdown-menu-left irf-action-dropdown-menu bg-tint-theme" uib-dropdown-menu>
        <li ng-repeat="menu in addTabMenu track by $index">
            <a ng-click="addTab($index)" href="" >
             {{ menu.title | translate }}</a>
        </li>
      </ul>
    </div>
  </uib-tabset>
</div>
