<div>
  <uib-tabset active="activeForm">
    <uib-tab index="$index + 1" ng-repeat="obj in pages" >
      <uib-tab-heading>
      {{ obj.title | translate }} 
      </uib-tab-heading>

      <section ng-hide="obj.error" class="content-header">
          <h1>
            <span>
              <a href ng-click="expandCollapseView()" style="color:#333">
                <i ng-if="showCollapsedViewButton" class="fa {{collapsedView?'fa-plus-square-o':'fa-minus-square-o'}}">&nbsp;
                </i>
                {{ obj.page.title | translate }}
              </a>
            </span>
            <small>{{ obj.page.subTitle | translate }}</small>
            <span ng-if="obj.page.offline">|&nbsp; 
              <small>
                <a href ng-click="loadOfflinePage($event)" style="color:#999">
                  <i class="fa fa-save">&nbsp;</i>{{'SAVED_RECORDS'|translate}}
                </a>
              </small>
            </span>
          </h1>
        </section>

      <section ng-hide="obj.error" class="content">
        <div ng-switch="obj.page.type" class="row page-row">
          <irf-sf ng-switch-when="schema-form"
                  initialize="obj.initialize(model, form, formCtrl)"
                  irf-schema="obj.page.schema"
                  irf-form="obj.page.form"
                  irf-actions="obj.page.actions"
                  irf-model="obj.model"
                  irf-helper="obj.formHelper"
                  irf-form-name="formName"
                  class="page-form">
            <div class="cantina-loader-wrapper">
              <div classs="cantina-loader"></div>
            </div>
          </irf-sf>
          <irf-resource-search-wrapper ng-switch-when="search-list"
                                       definition="obj.page.definition"
                                       initialize="obj.page.initialize(model, form, formCtrl)"
                                       irf-model="obj.model">
          </irf-resource-search-wrapper>
        </div>
      </section>

      <section ng-show="obj.error" class="content">
        <div class="modal-dialog">
          <div class="modal-content effect2">
            <div class="modal-header">
              <h4 class="modal-title">{{'Page is missing/having errors' | translate}}
              </h4>
            </div>
            <div class="modal-body">
              <h4 style="position:absolute;top:10%;left:0;width:100%;text-align:center" ng-bind-html="pageNameHtml">
              </h4>
              <div style="padding:10px">
                <img src="img/404.png" class="img-responsive">
              </div>
            </div>
          </div>   
        </div>
      </section>

    </uib-tab>
  </uib-tabset>
</div>
