<div>
    <iframe name = "ekycdashboard" class="ekyc-iframe" width="100%" height="600"></iframe>
    <form id ="ekycForm" name = "ekycForm" method = "POST">
        <input type="hidden" id="Aadhar" name="Aadhar">
        <input type="hidden" id="kyc_data" name="kyc_data">
        <input type="hidden" name="APP_ID" value="abcd">
        <input type="hidden" name="USER_ID" value="UECH_IFMR">
        <input type="hidden" name="PASSWORD" value="IF@mr123">
        <input type="hidden" name="INTERMEDIARY_ID" value="P">
        <input type="hidden" name="url" value='http://192.168.56.1:8008/Works/client-trunk/source/dev-www/process/pages/templates/mutualFund/MutualFundEKYCDone.html'>
    </form>
</div>
