<div>
    <section class="content-header">
        <h1>
            {{:: 'Prioritization Matrix' | translate }} <small>{{:: page.subTitle | translate }}</small>
            <button ng-if="page.offline" ng-click="loadOfflinePage($event)" class="btn btn-default" style="color:#aaa"><i class="fa fa-download">&nbsp;</i>{{'SAVED_RECORDS'|translate}}</button>
        </h1>
<!--         <ol ng-if="breadcrumb" class="breadcrumb">
            <li ng-repeat="bc in breadcrumb" ng-class="{active:$last}">
                <a ng-if="!$last" href="#"><i ng-if="$first" class="fa fa-map-signs"></i>{{ bc }}</a>{{ $last ? bc : '' }}
            </li>
        </ol> -->
    </section>

    <section class="content">
        <div class="col-sm-12 box-col">
        <div class="box no-border" id="pm1">
            <div class="box-header with-border" data-toggle="collapse" data-target="#pm1_body" data-parent="#pm1">
                <h3 class="box-title ng-binding">Prioritization Matrix</h3>
            </div>
            <div class="box-body form-horizontal collapse in" id="pm1_body">
                <irf-data-table table-id="tableId" table-promise="tablePromise()"></irf-data-table>
            </div>
        </div>
        </div>
    </section>
</div>
