<div>
    <style>
        svg {
            display: block;
            width: 100%;
        }
        .bi-chart {
            height: 300px;
        }
    </style>
    <section class="content-header">
        <h1>
            Dashboard <small>Charts</small>
        </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-theme">
            <div class="box-header with-border">
              <h3 class="box-title">Disbursement Planned vs. Actual <br/> Jan to Jun 2015 (Rupees in Crore)</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-chevron-down"></i></button>
              </div>
            </div>
            <div class="box-body">
              <nvd3-bar-graph chartId="testng1"></nvd3-bar-graph>
              <div id="planned_actual_bar_chart" class="bi-chart"><svg></svg></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-theme">
            <div class="box-header with-border">
              <h3 class="box-title">Product Mix - Jun 2015</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-chevron-down"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div id="productmix_donut_chart" class="bi-chart"><svg class="mypiechart"></svg></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-theme">
            <div class="box-header with-border">
              <h3 class="box-title">Days Past Due - Jan to Jun 2015</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-chevron-down"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div id="dpd_donut_chart" class="bi-chart"><svg class="mypiechart"></svg></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script type="text/javascript">

    var planned_actual_data = [{
            "key":"Planned",
            "nonStackable":false,
            "values":[{
                "x":1,"y":12,"series":1,"key":"Planned"
            },{
                "x":2,"y":14,"series":1,"key":"Planned"
            },{
                "x":3,"y":16,"series":1,"key":"Planned"
            },{
                "x":4,"y":18,"series":1,"key":"Planned"
            },{
                "x":5,"y":20,"series":1,"key":"Planned"
            },{
                "x":6,"y":22,"series":1,"key":"Planned"
            }]
        },{
            "key":"Actual",
            "nonStackable":false,
            "values":[{
                "x":1,"y":8,"series":0,"key":"Actual"
            },{
                "x":2,"y":12,"series":0,"key":"Actual"
            },{
                "x":3,"y":13,"series":0,"key":"Actual"
            },{
                "x":4,"y":15,"series":0,"key":"Actual"
            },{
                "x":5,"y":17,"series":0,"key":"Actual"
            },{
                "x":6,"y":20,"series":0,"key":"Actual"
            }]
        }];
    var productmix_data = [
            {"key": "Individual", "y": 2},
            {"key": "SME",        "y": 2},
            {"key": "JLG",        "y": 13},
            {"key": "Jewel",      "y": 7}
        ];
    var dpd_data = [
            {"key": "0-30",  "y": 2},
            {"key": "31-60", "y": 2},
            {"key": "61-90", "y": 9},
            {"key": ">90",   "y": 7}
        ];
    var dpd_multi_data = [{
            "key": "0-30",  "values": [[1, 2], [2, 3], [3, 2], [4, 2], [5, 2], [6, 2]]
        },{
            "key": "31-60", "values": [[1, 2], [2, 2], [3, 2], [4, 3], [5, 2], [6, 2]]
        },{
            "key": "61-90", "values": [[1, 9], [2, 8], [3, 7], [4, 9], [5, 9], [6, 9]]
        },{
            "key": "> 90",  "values": [[1, 7], [2, 7], [3, 6], [4, 5], [5, 6], [6, 7]]
        }];

    var c0 = (function() {
        var chart = nv.models.multiBarChart()
          .duration(350)
          .reduceXTicks(false)   //If 'false', every single x-axis tick label will be rendered.
          .rotateLabels(0)      //Angle to rotate x-axis labels.
          .showControls(false)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
          .groupSpacing(0.1)    //Distance between each group of bars.
        ;

        chart.legend.vers('furious');

        chart.xAxis
            .tickFormat(d3.format(',f'));

        chart.yAxis
            .tickFormat(d3.format(',.1f'));

        d3.select('#planned_actual_bar_chart svg')
            .datum(planned_actual_data)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    })();

    var c1 = (function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .donut(true)
            .padAngle(.08)
            .cornerRadius(5)
            .id('donut1'); // allow custom CSS for this one svg
        chart.title("Product Mix");
        chart.legend.vers('furious');
        chart.pie.labelsOutside(true).donut(true);
        d3.select("#productmix_donut_chart svg")
            .datum(productmix_data)
            .transition().duration(1200)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    })();

    /*var c2 = (function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            //.labelThreshold(.08)
            //.showLabels(false)
            //.color(d3.scale.category20().range().slice(10))
            .donut(false)
            .id('donut2')
            //.titleOffset(-30)
            .title("Days Pass Due");
        // MAKES IT HALF CIRCLE
        // chart.pie
        //     .startAngle(function(d) { return d.startAngle/2 -Math.PI/2 })
        //     .endAngle(function(d) { return d.endAngle/2 -Math.PI/2 });
        d3.select("#dpd_donut_chart svg")
            //.datum(historicalBarChart)
            .datum(dpd_data)
            .transition().duration(1200)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    })();*/


    var c3 = (function() {
        var chart = nv.models.stackedAreaChart()
                      //.margin({right: 100})
                      .x(function(d) { return d[0] })   //We can modify the data accessor functions...
                      .y(function(d) { return d[1] })   //...in case your data is formatted differently.
                      .useInteractiveGuideline(true)    //Tooltips which show all data points. Very nice!
                      //.rightAlignYAxis(true)      //Let's move the y-axis to the right side.
                      .showControls(false)       //Allow user to choose 'Stacked', 'Stream', 'Expanded' mode.
                      .clipEdge(true);

        chart.legend.vers('furious');
        //Format x-axis labels with custom function.
        chart.xAxis
            .tickFormat(d3.format(',d'));

        chart.yAxis
            .tickFormat(d3.format(',.2f'));

        d3.select('#dpd_donut_chart svg')
          .datum(dpd_multi_data)
          .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    })();

    nv.addGraph(function(){return c0});
    nv.addGraph(function(){return c1});
    nv.addGraph(function(){return c3});

    var charts = [c0, c1, c3];
</script>
</div>