{  
   "swagger":"2.0",
   "info":{  
      "description":"Application API documentation",
      "version":"0.0.1",
      "title":"Application API",
      "contact":{  

      },
      "license":{  

      }
   },
   "schemes":[  
      "http"
   ],
   "host":"sit.perdix.co.in:8080",
   "basePath":"/sit_kgfs_perdix-server",
   "securityDefinitions":{  
      "oauth2":{  
         "type":"oauth2",
         "flow":"password",
         "tokenUrl":"http://sit.perdix.co.in:8080/sit_kgfs_perdix-server/oauth/token",
         "scopes":{  
            "read":"Grants read access",
            "write":"Grants write access"
         }
      }
   },
   "components":{  
      "securitySchemes":{  
         "bearerAuth":{  
            "type":"http",
            "scheme":"bearer",
            "bearerFormat":"JWT"
         }
      }
   },
   "security":[  
      {  
         "bearerAuth":[  

         ]
      }
   ],
   "tags":[  
      {  
         "name":"partner-loan-collections",
         "description":"Loan Collections API"
      },
      {  
         "name":"partner-individualloanprocess",
         "description":"Individual Loan Process API"
      },
      {  
         "name":"partner-enrollments",
         "description":"Enrollments API"
      }
   ],
   "paths":{  
      "/api/partner/centre":{  
         "get":{  
            "tags":[  
               "centre"
            ],
            "summary":"findCentres",
            "operationId":"findCentresUsingGET",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"centreName",
                  "in":"query",
                  "description":"centreName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreAddress",
                  "in":"query",
                  "description":"centreAddress",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"employee",
                  "in":"query",
                  "description":"employee",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/CentreMasterDTO"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "post":{  
            "tags":[  
               "centre"
            ],
            "summary":"createCentre",
            "operationId":"createCentreUsingPOST",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"centreMasterDTO",
                  "description":"centreMasterDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/CentreMasterDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/CentreMasterDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "put":{  
            "tags":[  
               "centre"
            ],
            "summary":"update",
            "operationId":"updateUsingPUT_6",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"centreMasterDTO",
                  "description":"centreMasterDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/CentreMasterDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/CentreMasterDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/centre/{id}":{  
         "get":{  
            "tags":[  
               "centre"
            ],
            "summary":"getUser",
            "operationId":"getUserUsingGET",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"id",
                  "in":"path",
                  "description":"id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "$ref":"#/definitions/CentreMasterDTO"
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "delete":{  
            "tags":[  
               "centre"
            ],
            "summary":"delete",
            "operationId":"deleteUsingDELETE_4",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"id",
                  "in":"path",
                  "description":"id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "204":{  
                  "description":"No Content"
               },
               "403":{  
                  "description":"Forbidden"
               }
            }
         }
      },
      "/api/partner/enrollments":{  
         "get":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"Find Partner Customers ",
            "description":"Search enrollments based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingGET_6",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"kycNumber",
                  "in":"query",
                  "description":"kycNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"firstName",
                  "in":"query",
                  "description":"firstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"lastName",
                  "in":"query",
                  "description":"lastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"middleName",
                  "in":"query",
                  "description":"middleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherFirstName",
                  "in":"query",
                  "description":"fatherFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherLastName",
                  "in":"query",
                  "description":"fatherLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherMiddleName",
                  "in":"query",
                  "description":"fatherMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseFirstName",
                  "in":"query",
                  "description":"spouseFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseLastName",
                  "in":"query",
                  "description":"spouseLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseMiddleName",
                  "in":"query",
                  "description":"spouseMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"aadhaarNo",
                  "in":"query",
                  "description":"aadhaarNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urnNo",
                  "in":"query",
                  "description":"urnNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"panNo",
                  "in":"query",
                  "description":"panNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mobileNo",
                  "in":"query",
                  "description":"mobileNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"customerType",
                  "in":"query",
                  "description":"customerType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"bankId",
                  "in":"query",
                  "description":"bankId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"includeDuplicates",
                  "in":"query",
                  "description":"includeDuplicates",
                  "required":false,
                  "type":"boolean"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/CustomerSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "head":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"Find Partner Customers ",
            "description":"Search enrollments based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingHEAD_2",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"kycNumber",
                  "in":"query",
                  "description":"kycNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"firstName",
                  "in":"query",
                  "description":"firstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"lastName",
                  "in":"query",
                  "description":"lastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"middleName",
                  "in":"query",
                  "description":"middleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherFirstName",
                  "in":"query",
                  "description":"fatherFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherLastName",
                  "in":"query",
                  "description":"fatherLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherMiddleName",
                  "in":"query",
                  "description":"fatherMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseFirstName",
                  "in":"query",
                  "description":"spouseFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseLastName",
                  "in":"query",
                  "description":"spouseLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseMiddleName",
                  "in":"query",
                  "description":"spouseMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"aadhaarNo",
                  "in":"query",
                  "description":"aadhaarNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urnNo",
                  "in":"query",
                  "description":"urnNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"panNo",
                  "in":"query",
                  "description":"panNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mobileNo",
                  "in":"query",
                  "description":"mobileNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"customerType",
                  "in":"query",
                  "description":"customerType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"bankId",
                  "in":"query",
                  "description":"bankId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"includeDuplicates",
                  "in":"query",
                  "description":"includeDuplicates",
                  "required":false,
                  "type":"boolean"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/CustomerSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "204":{  
                  "description":"No Content"
               },
               "403":{  
                  "description":"Forbidden"
               }
            }
         },
         "post":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"Create/Update Customer Enrollment for partner",
            "operationId":"postUsingPOST",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"customerCompositeDTO",
                  "description":"customerCompositeDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/CustomerCompositeDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Successfully created new customer",
                  "schema":{  
                     "$ref":"#/definitions/CustomerCompositeDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/loanaccounts/repay":{  
         "post":{  
            "tags":[  
               "partner-loan-collections"
            ],
            "summary":"Repay loan",
            "description":"Repayment of loan.",
            "operationId":"loanRepaymentUsingPOST_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"repaymentDTO",
                  "description":"repaymentDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/RepaymentDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Repayment completed successfully.",
                  "schema":{  
                     "$ref":"#/definitions/RepaymentDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal server error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/enrollments/findInternal":{  
         "get":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"Search Partner customers",
            "description":"Search enrollments based on search parameters. The page information is available in the response headers.",
            "operationId":"findInternalUsingGET",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"kycNumber",
                  "in":"query",
                  "description":"kycNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"firstName",
                  "in":"query",
                  "description":"firstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"lastName",
                  "in":"query",
                  "description":"lastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"middleName",
                  "in":"query",
                  "description":"middleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherFirstName",
                  "in":"query",
                  "description":"fatherFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherLastName",
                  "in":"query",
                  "description":"fatherLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherMiddleName",
                  "in":"query",
                  "description":"fatherMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseFirstName",
                  "in":"query",
                  "description":"spouseFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseLastName",
                  "in":"query",
                  "description":"spouseLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseMiddleName",
                  "in":"query",
                  "description":"spouseMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"aadhaarNo",
                  "in":"query",
                  "description":"aadhaarNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urnNo",
                  "in":"query",
                  "description":"urnNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"panNo",
                  "in":"query",
                  "description":"panNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mobileNo",
                  "in":"query",
                  "description":"mobileNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"customerType",
                  "in":"query",
                  "description":"customerType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"bankId",
                  "in":"query",
                  "description":"bankId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"lenderType",
                  "in":"query",
                  "description":"lenderType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/CustomerSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "head":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"Search Partner customers",
            "description":"Search enrollments based on search parameters. The page information is available in the response headers.",
            "operationId":"findInternalUsingHEAD",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"kycNumber",
                  "in":"query",
                  "description":"kycNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"firstName",
                  "in":"query",
                  "description":"firstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"lastName",
                  "in":"query",
                  "description":"lastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"middleName",
                  "in":"query",
                  "description":"middleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherFirstName",
                  "in":"query",
                  "description":"fatherFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherLastName",
                  "in":"query",
                  "description":"fatherLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fatherMiddleName",
                  "in":"query",
                  "description":"fatherMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseFirstName",
                  "in":"query",
                  "description":"spouseFirstName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseLastName",
                  "in":"query",
                  "description":"spouseLastName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"spouseMiddleName",
                  "in":"query",
                  "description":"spouseMiddleName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"aadhaarNo",
                  "in":"query",
                  "description":"aadhaarNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urnNo",
                  "in":"query",
                  "description":"urnNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"panNo",
                  "in":"query",
                  "description":"panNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mobileNo",
                  "in":"query",
                  "description":"mobileNo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"customerType",
                  "in":"query",
                  "description":"customerType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"bankId",
                  "in":"query",
                  "description":"bankId",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"lenderType",
                  "in":"query",
                  "description":"lenderType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/CustomerSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "204":{  
                  "description":"No Content"
               },
               "403":{  
                  "description":"Forbidden"
               }
            }
         }
      },
      "/api/partner/enrollments/linkhousehold":{  
         "post":{  
            "tags":[  
               "partner-enrollments"
            ],
            "summary":"link urn to house hold",
            "description":"link urn to house hold",
            "operationId":"linkURNToHouseHoldUsingPOST",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"houseHold",
                  "description":"houseHold",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/HouseHoldLinkDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"urn linked successfully.",
                  "schema":{  
                     "$ref":"#/definitions/UrnLinkResponseDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal server error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/enrollments/{id}":{  
         "get":{  
            "tags":[  
               "partner-enrollments"
            ],
            "security":[  
               {  
                  "api_key":[  

                  ]
               }
            ],
            "summary":"Get Partner Customer by id",
            "operationId":"getUsingGET_6",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"id",
                  "in":"path",
                  "description":"id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Customer loaded successfully",
                  "schema":{  
                     "$ref":"#/definitions/CustomerDTO"
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Create/Update Individual Loan for partner",
            "operationId":"postUsingPOST_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"individualLoanProcessCompositeDTO",
                  "description":"individualLoanProcessCompositeDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/IndividualLoanProcessCompositeDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Successfully created new loan",
                  "schema":{  
                     "$ref":"#/definitions/IndividualLoanProcessCompositeDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/batchDisbursement":{  
         "put":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"disburse",
            "description":"Disburse the loan and return the newly disburse entry on success.",
            "operationId":"batchDisbursementUsingPUT_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"multiLoanDisbursement",
                  "description":"multiLoanDisbursement",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/MultiLoanDisbursementCompositeDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Successfully loan disburse",
                  "schema":{  
                     "$ref":"#/definitions/MultiLoanDisbursementCompositeDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/batchDisbursementConfirmation":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Disbursement confirmation update",
            "description":"Excel file upload Facility for Disbursement confirmation file upload.",
            "operationId":"disbursementConfirmationProcessUsingPOST_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"disbursementCompositeDTO",
                  "description":"disbursementCompositeDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/DisbursementConfirmationCompositeDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Batch Disbursement Confirmation updated successfully",
                  "schema":{  
                     "$ref":"#/definitions/StatusDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/dscoverriderequest":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"\tRequest for partner DSC override",
            "description":"\tRequest for DSC override",
            "operationId":"dscOverrideRequestUsingPOST_3",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"loanId",
                  "in":"query",
                  "description":"loanId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Request for dsc override completed ",
                  "schema":{  
                     "$ref":"#/definitions/LoanCustomerRelationDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/files/upload":{  
         "post":{  
            "tags":[  
               "files"
            ],
            "summary":"File upload",
            "description":"File upload.",
            "operationId":"uploadUsingPOST_1",
            "consumes":[  
               "multipart/form-data"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"file",
                  "in":"formData",
                  "description":"file",
                  "required":true,
                  "type":"file"
               },
               {  
                  "name":"category",
                  "in":"query",
                  "description":"category",
                  "required":true,
                  "type":"string",
                  "enum":[  
                     "CustomerEnrollment",
                     "Group",
                     "Loan",
                     "Collection",
                     "PLDC",
                     "Repayment",
                     "ACH",
                     "PDC",
                     "Customer",
                     "LoanMonitoringDetails",
                     "CreditMonitoringDetails",
                     "DeathMarking",
                     "Audit"
                  ]
               },
               {  
                  "name":"subCategory",
                  "in":"query",
                  "description":"subCategory",
                  "required":true,
                  "type":"string",
                  "enum":[  
                     "ADDRESSPROOF",
                     "ADDRESSPROOFREVERSE",
                     "IDENTITYPROOF",
                     "IDENTITYPROOFREVERSE",
                     "AGEPROOF",
                     "PAN",
                     "KYC1",
                     "KYC1REVERSE",
                     "KYC2",
                     "KYC2REVERSE",
                     "PHOTO",
                     "FINGERPRINT",
                     "HOUSEVERIFICATTIONPHOTO",
                     "CGT1PHOTO",
                     "CGT2PHOTO",
                     "CGT3PHOTO",
                     "GRTPHOTO",
                     "DOC1",
                     "DOC2",
                     "DOC3",
                     "COLLATERAL1",
                     "COLLATERAL2",
                     "COLLATERAL3",
                     "COLLATERALPHOTO",
                     "PHOTOOFCENTRE",
                     "APPLICATION",
                     "AGREEMENT",
                     "PLDCPHOTO",
                     "CATTLE_PHOTO",
                     "SHOP_PHOTO",
                     "Cheque",
                     "ReverseFeed",
                     "REGISTRATIONDOCUMENT",
                     "IndividualLoanDocuments",
                     "ExcelFileUpload",
                     "GROUPPHOTO",
                     "DSCREQUESTDOCUMENT",
                     "AUDITISSUEDOC",
                     "AUDITISSUEDRAFTDOC",
                     "DEATHCERTIFICATE",
                     "LIABILITIES"
                  ]
               }
            ],
            "responses":{  
               "200":{  
                  "description":"File is  uploaded successfully",
                  "schema":{  
                     "$ref":"#/definitions/FileInfo"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/files/upload/base64":{  
         "post":{  
            "tags":[  
               "files"
            ],
            "summary":"Base64 file upload",
            "description":"Base64 file upload",
            "operationId":"uploadUsingPOST",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"file",
                  "in":"query",
                  "description":"fileStream",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"type",
                  "in":"query",
                  "description":"category",
                  "required":true,
                  "type":"string",
                  "enum":[  
                     "CustomerEnrollment",
                     "Group",
                     "Loan",
                     "Collection",
                     "PLDC",
                     "Repayment",
                     "ACH",
                     "PDC",
                     "Customer",
                     "LoanMonitoringDetails",
                     "CreditMonitoringDetails",
                     "DeathMarking",
                     "Audit"
                  ]
               },
               {  
                  "name":"subType",
                  "in":"query",
                  "description":"subCategory",
                  "required":true,
                  "type":"string",
                  "enum":[  
                     "ADDRESSPROOF",
                     "ADDRESSPROOFREVERSE",
                     "IDENTITYPROOF",
                     "IDENTITYPROOFREVERSE",
                     "AGEPROOF",
                     "PAN",
                     "KYC1",
                     "KYC1REVERSE",
                     "KYC2",
                     "KYC2REVERSE",
                     "PHOTO",
                     "FINGERPRINT",
                     "HOUSEVERIFICATTIONPHOTO",
                     "CGT1PHOTO",
                     "CGT2PHOTO",
                     "CGT3PHOTO",
                     "GRTPHOTO",
                     "DOC1",
                     "DOC2",
                     "DOC3",
                     "COLLATERAL1",
                     "COLLATERAL2",
                     "COLLATERAL3",
                     "COLLATERALPHOTO",
                     "PHOTOOFCENTRE",
                     "APPLICATION",
                     "AGREEMENT",
                     "PLDCPHOTO",
                     "CATTLE_PHOTO",
                     "SHOP_PHOTO",
                     "Cheque",
                     "ReverseFeed",
                     "REGISTRATIONDOCUMENT",
                     "IndividualLoanDocuments",
                     "ExcelFileUpload",
                     "GROUPPHOTO",
                     "DSCREQUESTDOCUMENT",
                     "AUDITISSUEDOC",
                     "AUDITISSUEDRAFTDOC",
                     "DEATHCERTIFICATE",
                     "LIABILITIES"
                  ]
               },
               {  
                  "name":"extn",
                  "in":"query",
                  "description":"fileExtension",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"File is  uploaded successfully",
                  "schema":{  
                     "$ref":"#/definitions/FileInfo"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/stream/{fileId}":{  
         "get":{  
            "tags":[  
               "files"
            ],
            "summary":"streamFile",
            "operationId":"streamFileUsingGET",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "*/*"
            ],
            "parameters":[  
               {  
                  "name":"fileId",
                  "in":"path",
                  "description":"fileId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/find":{  
         "get":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Search loanAccounts",
            "description":"Search loan accounts based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingGET_15",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"productCode",
                  "in":"query",
                  "description":"productCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerName",
                  "in":"query",
                  "description":"customerName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"accountNumber",
                  "in":"query",
                  "description":"accountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sanctionDateFrom",
                  "in":"query",
                  "description":"sanctionDateFrom",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sanctionDateTo",
                  "in":"query",
                  "description":"sanctionDateTo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"screeningDate",
                  "in":"query",
                  "description":"screeningDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"applicantName",
                  "in":"query",
                  "description":"applicantName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urn",
                  "in":"query",
                  "description":"urn",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"area",
                  "in":"query",
                  "description":"area",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"villageName",
                  "in":"query",
                  "description":"villageName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"enterprisePincode",
                  "in":"query",
                  "description":"pincode",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"psychometric_completed",
                  "in":"query",
                  "description":"psychometricCompleted",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAccountNumber",
                  "in":"query",
                  "description":"oldAccountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"partnerCustomerNumber",
                  "in":"query",
                  "description":"partnerCustomerNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"valuator",
                  "in":"query",
                  "description":"valuator",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"baseLoanAccount",
                  "in":"query",
                  "description":"baseLoanAccount",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"loanType",
                  "in":"query",
                  "description":"loanType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/IndividualLoanSummaryDTO"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "head":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Search loanAccounts",
            "description":"Search loan accounts based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingHEAD_10",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"stage",
                  "in":"query",
                  "description":"stage",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"branchName",
                  "in":"query",
                  "description":"branchName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"productCode",
                  "in":"query",
                  "description":"productCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"centreCode",
                  "in":"query",
                  "description":"centreCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerName",
                  "in":"query",
                  "description":"customerName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"accountNumber",
                  "in":"query",
                  "description":"accountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sanctionDateFrom",
                  "in":"query",
                  "description":"sanctionDateFrom",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sanctionDateTo",
                  "in":"query",
                  "description":"sanctionDateTo",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"screeningDate",
                  "in":"query",
                  "description":"screeningDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"applicantName",
                  "in":"query",
                  "description":"applicantName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urn",
                  "in":"query",
                  "description":"urn",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"area",
                  "in":"query",
                  "description":"area",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"villageName",
                  "in":"query",
                  "description":"villageName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"enterprisePincode",
                  "in":"query",
                  "description":"pincode",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"status",
                  "in":"query",
                  "description":"status",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"psychometric_completed",
                  "in":"query",
                  "description":"psychometricCompleted",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAccountNumber",
                  "in":"query",
                  "description":"oldAccountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"partnerCustomerNumber",
                  "in":"query",
                  "description":"partnerCustomerNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"valuator",
                  "in":"query",
                  "description":"valuator",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"baseLoanAccount",
                  "in":"query",
                  "description":"baseLoanAccount",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"loanType",
                  "in":"query",
                  "description":"loanType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/IndividualLoanSummaryDTO"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "204":{  
                  "description":"No Content"
               },
               "403":{  
                  "description":"Forbidden"
               }
            }
         }
      },
      "/api/partner/individualLoan/findDisbursement":{  
         "get":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Search loan disbursement",
            "description":"Search disbursement based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingGET_14",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"currentStage",
                  "in":"query",
                  "description":"currentStage",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"customerSignatureDate",
                  "in":"query",
                  "description":"customerSignatureDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"scheduledDisbursementDate",
                  "in":"query",
                  "description":"scheduledDisbursementDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"integer",
                     "format":"int64"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"customerName",
                  "in":"query",
                  "description":"customerName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"accountNumber",
                  "in":"query",
                  "description":"accountNumber",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"productCode",
                  "in":"query",
                  "description":"productCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAccountNumber",
                  "in":"query",
                  "description":"oldAccountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"groupCode",
                  "in":"query",
                  "description":"groupCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"loanType",
                  "in":"query",
                  "description":"loanType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/LoanAccountDisbursementScheduleSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         },
         "head":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Search loan disbursement",
            "description":"Search disbursement based on search parameters. The page information is available in the response headers.",
            "operationId":"findUsingHEAD_9",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"currentStage",
                  "in":"query",
                  "description":"currentStage",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"customerSignatureDate",
                  "in":"query",
                  "description":"customerSignatureDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"scheduledDisbursementDate",
                  "in":"query",
                  "description":"scheduledDisbursementDate",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"branchId",
                  "in":"query",
                  "description":"branchId",
                  "required":false,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"centreId",
                  "in":"query",
                  "description":"centreId",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"integer",
                     "format":"int64"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"customerName",
                  "in":"query",
                  "description":"customerName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"accountNumber",
                  "in":"query",
                  "description":"accountNumber",
                  "required":false,
                  "type":"array",
                  "items":{  
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {  
                  "name":"productCode",
                  "in":"query",
                  "description":"productCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAccountNumber",
                  "in":"query",
                  "description":"oldAccountNumber",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"groupCode",
                  "in":"query",
                  "description":"groupCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"loanType",
                  "in":"query",
                  "description":"loanType",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"offset",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"per_page",
                  "in":"query",
                  "description":"limit",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {  
                  "name":"sortBy",
                  "in":"query",
                  "description":"sortBy",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"OK",
                  "schema":{  
                     "type":"array",
                     "items":{  
                        "$ref":"#/definitions/LoanAccountDisbursementScheduleSummaryDto"
                     }
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "204":{  
                  "description":"No Content"
               },
               "403":{  
                  "description":"Forbidden"
               }
            }
         }
      },
      "/api/partner/individualLoan/getDisbursementList":{  
         "get":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"disbursement List",
            "description":"get Disbursement list based on list of loan id.",
            "operationId":"getDisbursementListUsingGET_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"loanIdlist",
                  "in":"query",
                  "description":"loanIdlist",
                  "required":true,
                  "type":"array",
                  "items":{  
                     "type":"integer",
                     "format":"int64"
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Successfully retrieved disbursement list.",
                  "schema":{  
                     "type":"array",
                     "$ref":"#/definitions/DisbursementDTO"
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/getDscResponseList":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"\tRequest for partner DSC override",
            "description":"\tRequest for DSC override",
            "operationId":"dscOverrideRequestUsingPOST_4",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"loanId",
                  "in":"query",
                  "description":"loanId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Request for dsc override completed ",
                  "schema":{  
                     "type":"array",
                     "$ref":"#/definitions/DSCIntegrationDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/individualloandsc":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"perform individual DSCEnquiry",
            "description":"performs DSC individual Enquiry.",
            "operationId":"performDSCForGroupUsingPOST_4",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"loanId",
                  "in":"query",
                  "description":"loanId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Succesfully completed group DSC enquiry",
                  "schema":{  
                     "$ref":"#/definitions/GroupDSCResponseDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal server error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/overrideAllLCRMemberDsc":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Override DSC or Reject Override DSC of all LCR members",
            "description":"Override DSC or Reject Override DSC of all LCR members",
            "operationId":"overrideAllLCRMemberDscUsingPOST_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"loanId",
                  "in":"query",
                  "description":"loanId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"remarks",
                  "in":"query",
                  "description":"remarks",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"action",
                  "in":"query",
                  "description":"action",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"completed ",
                  "schema":{  
                     "$ref":"#/definitions/LoanCustomerRelationDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/overridedsc":{  
         "post":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Override DSC or Reject Override DSC of a member",
            "description":"Override DSC or Reject Override DSC of a member",
            "operationId":"overrideDscMemberUsingPOST_2",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"customerId",
                  "in":"query",
                  "description":"customerId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"loanId",
                  "in":"query",
                  "description":"loanId",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               },
               {  
                  "name":"remarks",
                  "in":"query",
                  "description":"remarks",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"action",
                  "in":"query",
                  "description":"action",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"completed ",
                  "schema":{  
                     "$ref":"#/definitions/LoanCustomerRelationDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/updateDisbursement":{  
         "put":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Update an existing loan disbursement",
            "description":"Update an existing loan disbursement and return the updated loan disbursement on success.",
            "operationId":"updateDisbursementUsingPUT_1",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"loanDisbursementCompositeDTO",
                  "description":"loanDisbursementCompositeDTO",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/LoanDisbursementCompositeDTO"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Successfully updated loan disbursement",
                  "schema":{  
                     "$ref":"#/definitions/LoanDisbursementCompositeDTO"
                  }
               },
               "201":{  
                  "description":"Created"
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      },
      "/api/partner/individualLoan/{id}":{  
         "get":{  
            "tags":[  
               "partner-individualloanprocess"
            ],
            "summary":"Get Loan by id",
            "operationId":"getUsingGET_13",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "name":"id",
                  "in":"path",
                  "description":"id",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{  
               "200":{  
                  "description":"Loan loaded successfully",
                  "schema":{  
                     "$ref":"#/definitions/LoanAccountDTO"
                  }
               },
               "401":{  
                  "description":"Unauthorized"
               },
               "500":{  
                  "description":"Internal Server Error"
               },
               "403":{  
                  "description":"Forbidden"
               },
               "404":{  
                  "description":"Not Found"
               }
            }
         }
      }
   },
   "definitions":{  
      "CustomerLiabilityRepayment":{  
         "properties":{  
            "actualRepaymentDate":{  
               "type":"string"
            },
            "customerId":{  
               "type":"integer",
               "format":"int64"
            },
            "emiAmount":{  
               "type":"number",
               "format":"double"
            },
            "emiDueDate":{  
               "type":"string"
            },
            "emiNo":{  
               "type":"number",
               "format":"double"
            },
            "id":{  
               "type":"integer",
               "format":"int64"
            },
            "loanId":{  
               "type":"integer",
               "format":"int64"
            },
            "udf1":{  
               "type":"string"
            },
            "udf2":{  
               "type":"string"
            },
            "udf3":{  
               "type":"string"
            },
            "udf4":{  
               "type":"string"
            },
            "udf5":{  
               "type":"string"
            },
            "udfDate1":{  
               "type":"string"
            },
            "udfDate2":{  
               "type":"string"
            },
            "udfDate3":{  
               "type":"string"
            },
            "version":{  
               "type":"integer",
               "format":"int32"
            }
         }
      },
      "EnquirySegmentDTO":{  
         "properties":{  
            "customerId":{  
               "type":"integer",
               "format":"int64"
            },
            "dateOfEnquiry":{  
               "type":"string"
            },
            "enquiringMemberShortName":{  
               "type":"string"
            },
            "enquiryAmount":{  
               "type":"string"
            },
            "enquiryPurpose":{  
               "type":"string"
            },
            "highMarkInterfaceId":{  
               "type":"integer",
               "format":"int64"
            },
            "id":{  
               "type":"integer",
               "format":"int64"
            },
            "responseRecordId":{  
               "type":"integer",
               "format":"int64"
            },
            "segmentTag":{  
               "type":"string"
            },
            "version":{  
               "type":"integer",
               "format":"int32"
            }
         }
      },
      "RemittanceInputDTO":{  
         "properties":{  
            "amountInPaisa":{  
               "type":"integer",
               "format":"int64"
            },
            "customerId":{  
               "type":"integer",
               "format":"int64"
            },
            "id":{  
               "type":"integer",
               "format":"int64"
            },
            "initTrxnChannel":{  
               "type":"string"
            },
            "mobileNo":{  
               "type":"string"
            },
            "serviceProvider":{  
               "type":"string"
            },
            "trxnCode":{  
               "type":"string"
            },
            "trxnType":{  
               "type":"string"
            },
            "version":{  
               "type":"integer",
               "format":"int32"
            }
         }
      },
      "AdditionalKYCDTO":{  
         "properties":{  
            "customerId":{  
               "type":"integer",
               "format":"int64"
            },
            "id":{  
               "type":"integer",
               "format":"int64"
            },
            "kyc1ImagePath":{  
               "type":"string"
            },
            "kyc1IssueDate":{  
               "type":"string"
            },
            "kyc1ProofNumber":{  
               "type":"string"
            },
            "kyc1ProofType":{  
               "type":"string"
            },
            "kyc1ReverseImagePath":{  
               "type":"string"
            },
            "kyc1ValidUptoDate":{  
               "type":"string"
            },
            "kyc2ImagePath":{  
               "type":"string"
            },
            "kyc2IssueDate":{  
               "type":"string"
            },
            "kyc2ProofNumber":{  
               "type":"string"
            },
            "kyc2ProofType":{  
               "type":"string"
            },
            "kyc2ReverseImagePath":{  
               "type":"string"
            },
            "kyc2ValidUptoDate":{  
               "type":"string"
            },
            "version":{  
               "type":"integer",
               "format":"int32"
            }
[...]
