<!-- <div class="row" style="border-bottom: 2px solid #e3e3e3">
    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div ng-repeat="data in pnlData.data.XLabels">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h5><b>{{data}}</b></h5>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="data in pnlData.data.dataset | filter:q as results track by $index">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span ng-if="data.style.FONTSTYLE == 'bold'"> <b>{{data.label}}</b></span>
            <span ng-if="data.style.FONTSTYLE != 'bold'"> {{data.label}}</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div ng-repeat="value in data.data | filter:q as results track by $index">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span ng-if="data.style.FONTSTYLE == 'bold'"> <b> {{value}}</b></span>
                    <span ng-if="data.style.FONTSTYLE != 'bold'"> {{value}}</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- new -->
<div style="width: 90em;overflow-x: auto; white-space: nowrap;">
    <div >
<div class="row" style="border-bottom: 2px solid #e3e3e3;">

    <div class="col-md-6 col-sm-6 ">
    </div>
    <div class="col-md-6 col-sm-6 ">
        <div ng-repeat="data in pnlData.data.XLabels">
            <div class="col-md-4 col-sm-4">
                <h5><b>{{data}}</b></h5>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="fullpnlData in pnlData.data.dataset"> 
    <div ng-if="fullpnlData.data[0].label==undefined ">
        <div class="col-md-6 col-sm-6" style="float:left">
                <span ng-if="fullpnlData.style.FONTSTYLE == 'bold'"> <b> <span>{{getromanNumaric($index)}}</span>. {{fullpnlData.label}}</b></span>
                <span ng-if="fullpnlData.style.FONTSTYLE != 'bold'">  <span>{{getromanNumaric($index)}}</span>. {{fullpnlData.label}}</span>
        </div>
        <div class="col-md-6 col-sm-6" style="float:right">
            <div ng-repeat="value in fullpnlData.data | filter:q as results track by $index">
                <div class="col-md-4 col-sm-4">
                    <span ng-if="fullpnlData.style.FONTSTYLE == 'bold'"> <b> {{value}}</b></span>
                    <span ng-if="fullpnlData.style.FONTSTYLE != 'bold'"> {{value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="fullpnlData.data[0].label!=undefined ">
        <div class="col-md-12 col-sm-12">
                <span ng-if="fullpnlData.style.FONTSTYLE == 'bold'"> <b> <span>{{getromanNumaric($index)}}</span>. {{fullpnlData.label}}</b></span>
                <span ng-if="fullpnlData.style.FONTSTYLE != 'bold'">  <span>{{getromanNumaric($index)}}</span>. {{fullpnlData.label}}</span>
        </div>
        <div ng-repeat="frststageData in fullpnlData.data" class="row">
            <div ng-if="frststageData.data[0].label==undefined ">
                {{frststageData.data[$index].label}}
                <div class="col-md-6 col-sm-6" style="float:left">
                 <span ng-if="frststageData.style.FONTSTYLE == 'bold'">  <b> <span>{{$index+1}}</span>. {{frststageData.label}}</b></span>
                 <span ng-if="frststageData.style.FONTSTYLE != 'bold'">  <span>{{$index+1}}</span>. {{frststageData.label}}</span>
                </div>
                <div class="col-md-6 col-sm-6" style="float:right">
                    <div ng-repeat="value in frststageData.data | filter:q as results track by $index">
                        <div class="col-md-4 col-sm-4">
                            <span ng-if="frststageData.style.FONTSTYLE == 'bold'"> <b> {{value}}</b></span>
                            <span ng-if="frststageData.style.FONTSTYLE != 'bold'"> {{value}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="frststageData.data[0].label!=undefined">
                <div class="col-md-12 col-sm-12 ">
                 <span ng-if="frststageData.style.FONTSTYLE == 'bold'">  <b> <span>{{$index+1}}</span>. {{frststageData.label}}</b></span>
                 <span ng-if="frststageData.style.FONTSTYLE != 'bold'">  <span>{{$index+1}}</span>. {{frststageData.label}}</span>
                </div>
                <div ng-repeat="scndstageData in frststageData.data" >
                    <div ng-if="scndstageData.data[0].label==undefined">
                        <div class="col-md-6 col-sm-6" style="float:left">
                            <span>{{getalphabetSmall($index)}}</span>. {{scndstageData.label}}
                        </div>
                        <div class="col-md-6 col-sm-6 " style="float:right">
                            <div ng-repeat="value in scndstageData.data | filter:q as results track by $index">
                                <div class="col-md-4 col-sm-4">
                                    <span ng-if="scndstageData.style.FONTSTYLE == 'bold'"> <b> {{value}}</b></span>
                                    <span ng-if="scndstageData.style.FONTSTYLE != 'bold'"> {{value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="scndstageData.data[0].label!=undefined">
                        <div class="col-md-12 col-sm-12 ">
                            <span>{{getalphabetSmall($index)}}</span>. {{scndstageData.label}}
                        </div>
                        <div ng-repeat="thrdstageData in scndstageData.data" style="float:left">

                            <div ng-if="thrdstageData.data[$index].label==undefined">
                                <div class="col-md-6 col-sm-6 " style="float:left">
                                    <span>{{getromanNumaricSmall($index)}}</span>. {{thrdstageData.label}}
                                </div>
                                <div class="col-md-6 col-sm-6 " style="float:right">
                                    <div ng-repeat="value in thrdstageData.data | filter:q as results track by $index">
                                        <div class="col-md-4 col-sm-4">
                                            <span ng-if="thrdstageData.style.FONTSTYLE == 'bold'"> <b> {{value}}</b></span>
                                            <span ng-if="thrdstageData.style.FONTSTYLE != 'bold'"> {{value}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="thrdstageData.data[0].label!=undefined">
                                <div class="col-md-12 col-sm-12">
                                    <span>{{getromanNumaricSmall($index)}}</span>. {{thrdstageData.label}}
                                </div>
                                <div ng-repeat="frthstageData in thrdstageData.data">
                                    <div>
                                        <div class="col-md-6 col-sm-6" style="float:left">
                                            <b><span>{{getromanNumaricSmall($index)}}</span>. {{frthstageData.label}}</b>
                                        </div>
                                        <div ng-if="frthstageData.data[0].label==undefined" class="col-md-6 col-sm-6 "
                                            style="float:right">
                                            <div ng-repeat="value in frthstageData.data | filter:q as results track by $index">
                                                <div class="col-md-4 col-sm-4">
                                                    <span ng-if="frthstageData.style.FONTSTYLE == 'bold'"> <b>{{value}}</b></span>
                                                    <span ng-if="frthstageData.style.FONTSTYLE != 'bold'"> {{value}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div></div></div>