<!-- <div ng-repeat="section in containerData.section">
    <div ng-if="section.type=='box'">
        <irf-pv-box box-data="section"></irf-pv-box>
    </div>
    <div ng-if="section.type=='grid'">
        <irf-pv-grid grid-data="section"></irf-pv-grid>
    </div>
    <div ng-if="section.type=='balance_sheet'">
        <irf-pv-balancesheet balancesheet-data="section"></irf-pv-balancesheet>
    </div>
    <div ng-if="section.type=='chart'">

        <div ng-if="section.width=='col1'">
            <div class="col-md-4 col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>
        <div ng-if="section.width=='col3'">
            <div class="col-md-12  col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>
        <div ng-if="section.width=='col2'">
            <div class="col-md-8 col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>

    </div>
    <div ng-if="section.type=='pnl'">
        <irf-pv-pnl pnl-data="section"></irf-pv-pnl>
    </div>
    <div ng-if="section.type=='scoring'">
        <irf-scoring-display irf-scoring-data='section.data' />
    </div>
    <div ng-if="section.type=='table'">
        <irf-simple-summary-table irf-table-def='section.data'></irf-simple-summary-table>
    </div>

</div> -->

<div ng-repeat="section in containerData.section">
    <div ng-if="section.type=='box'">
        <irf-pv-box box-data="section"></irf-pv-box>
    </div>
    <div ng-if="section.type=='grid'">
        <irf-pv-grid grid-data="section"></irf-pv-grid>
    </div>
    <div ng-if="section.type=='balance_sheet'">
        <irf-pv-balancesheet balancesheet-data="section"></irf-pv-balancesheet>
    </div>
    <div ng-if="section.type=='chart'">

        <div ng-if="section.width=='col1'">
            <div class="col-md-4 col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>
        <div ng-if="section.width=='col3'">
            <div class="col-md-12  col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>
        <div ng-if="section.width=='col2'">
            <div class="col-md-8 col-sm-12 col-xs-12" style="float:left">
                <irf-pv-charts chart-data="section"></irf-pv-charts>
            </div>
        </div>

    </div>
    <div ng-if="section.type=='pnl'">
        <irf-pv-pnl pnl-data="section"></irf-pv-pnl>
    </div>
    <div ng-if="section.type=='scoring'">
        <irf-scoring-display irf-scoring-data='section.data' />
    </div>
    <div ng-if="section.type=='table'">
        <irf-simple-summary-table irf-table-def='section.data'></irf-simple-summary-table>
    </div>
    <div ng-if="section.type=='iterator'">
        <irf-pv-iterator iterator-data="section"></irf-pv-iterator>
    </div>
    <div ng-if="section.type=='container'" >
        <div ng-repeat="subSection in section.section">
            <div ng-if="subSection.type=='box'">
                <irf-pv-box box-data="subSection"></irf-pv-box>
            </div>
            <div ng-if="subSection.type=='grid'">
                <irf-pv-grid grid-data="subSection"></irf-pv-grid>
            </div>
            <div ng-if="subSection.type=='balance_sheet'">
                <irf-pv-balancesheet balancesheet-data="subSection"></irf-pv-balancesheet>
            </div>
            <div ng-if="subSection.type=='chart'">
        
                <div ng-if="subSection.width=='col1'">
                    <div class="col-md-4 col-sm-12 col-xs-12" style="float:left">
                        <irf-pv-charts chart-data="subSection"></irf-pv-charts>
                    </div>
                </div>
                <div ng-if="subSection.width=='col3'">
                    <div class="col-md-12  col-sm-12 col-xs-12" style="float:left">
                        <irf-pv-charts chart-data="subSection"></irf-pv-charts>
                    </div>
                </div>
                <div ng-if="subSection.width=='col2'">
                    <div class="col-md-8 col-sm-12 col-xs-12" style="float:left">
                        <irf-pv-charts chart-data="subSection"></irf-pv-charts>
                    </div>
                </div>
        
            </div>
            <div ng-if="subSection.type=='pnl'">
                <irf-pv-pnl pnl-data="subSection"></irf-pv-pnl>
            </div>
            <div ng-if="subSection.type=='scoring'">
                <irf-scoring-display irf-scoring-data='subSection.data' />
            </div>
            <div ng-if="subSection.type=='table'">
                <irf-simple-summary-table irf-table-def='subSection.data'></irf-simple-summary-table>
            </div>
            <div ng-if="subSection.type=='iterator'">
                <irf-pv-iterator iterator-data="subSection"></irf-pv-iterator>
            </div>
        </div>
    </div>
</div>
