<div class="row ">
    <div ng-repeat="values in balancesheetData.data">
        <div ng-if="$even">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                    <div style="float: left;width:100%">
                        <h4><b><span>{{getromanNumaric($index)}}</span>. {{values.title}}</b></h4>
                    </div>
                    <div ng-if="typeof(values.data)==object">
                        <div ng-repeat="value in values.data">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                <div style="float:left">
                                    <h5><b> <span>{{$index+1}}</span>. {{value.title}}</b></h5>
                                </div>
                                <div ng-if="typeof(value.data)==object">
                                    <div ng-repeat="innerdata in value.data | filter:q as results track by $index">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                            <div style="float:left">
                                                <span>{{getalphabetSmall($index)}}</span>. {{innerdata.title}}
                                            </div>
                                            <div ng-if="getBType(innerdata.data)=='object'">
                                                <div ng-repeat="data in innerdata.data">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                                        <div style="float:left">
                                                            <span>{{getromanNumaricSmall($index)}}</span>.
                                                            {{data.title}}
                                                        </div>
                                                        <div style="float:right">
                                                            {{data.data | irfCurrency}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="getBType(innerdata.data)!='object'" style="float:right">
                                                {{innerdata.data | irfCurrency}}
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <div style="float:left">
                                            <b> {{value.total.title}}</b>
                                        </div>
                                        <div style="float:right ;border-top: 2px solid black">
                                            <b>{{value.total.data | irfCurrency}}</b>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div>
                            <div style="float:left">
                                <b>{{values.total.title}}</b>
                            </div>
                            <div style="float:right ;border-bottom: 2px solid black;border-top: 2px solid black">
                                <b> {{values.total.data | irfCurrency}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$odd">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                    <div style="float: left;width:100%">
                        <h4><b><span>{{getromanNumaric($index)}}</span>. {{values.title}}</b></h4>
                    </div>
                    <div ng-if="typeof(values.data)==object">
                        <div ng-repeat="value in values.data">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                <div style="float:left">
                                    <h5><b> <span>{{$index+1}}</span>. {{value.title}}</b></h5>
                                </div>
                                <div ng-if="typeof(value.data)==object">
                                    <div ng-repeat="innerdata in value.data | filter:q as results track by $index">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                            <div style="float:left">
                                                <span>{{getalphabetSmall($index)}}</span>. {{innerdata.title}}
                                            </div>
                                            <div ng-if="getBType(innerdata.data)=='object'">
                                                <div ng-repeat="data in innerdata.data">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                                                        <div style="float:left">
                                                            <span>{{getromanNumaricSmall($index)}}</span>.
                                                            {{data.title}}
                                                        </div>
                                                        <div style="float:right">
                                                            {{data.data | irfCurrency}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="getBType(innerdata.data)!='object'" style="float:right">
                                                {{innerdata.data | irfCurrency}}
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                        <div style="float:left">
                                            <b> {{value.total.title}}</b>
                                        </div>
                                        <div style="float:right ;border-top: 2px solid black">
                                            <b>{{value.total.data | irfCurrency}}</b>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div>
                            <div style="float:left">
                                <b>{{values.total.title}}</b>
                            </div>
                            <div style="float:right ;border-bottom: 2px solid black;border-top: 2px solid black">
                                <b> {{values.total.data | irfCurrency}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>