<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="img-circle img-responsive" src="img/icon.png" style="opacity:.8"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><!-- <b>IRF</b> -->{{ $parent.appName }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-theme navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <!-- <a href="#" class="logo-mobile-title" data-toggle="offcanvas"><span><b>IRF</b>{{ $parent.appName }}</span></a> -->

        <div class="header-corporate-logo" ng-show="$parent.appConfig.CORPORATE_LOGO">
            <img class="header-corporate-logo-img" src="" ng-src="{{$parent.appConfig.CORPORATE_LOGO}}" />
        </div>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li ng-show="$parent.latest_apk_url && !$parent.latest_apk_force_upgrade" class="dropdown notifications-menu">
                    <a href="" class="dropdown-toggle breathe_white_transparent" ng-href="{{$parent.latest_apk_url}}" target="_blank">
                        <i class="fa fa-cloud-download"></i>
                    </a>
                </li>
                <!-- For perdix 7 compatibility -->
                <li id="connect_perdix7" ng-show="$parent.appConfig.CONNECT_PERDIX7 && isPerdix7Integrated" class="dropdown notifications-menu">
                    <a href="" class="dropdown-toggle" onclick="integrationApi.switchApp()">
                        <i class="fa fa-bank">&nbsp;</i>
                    </a>
                </li>
                <!-- Colors: style cannot ;) be found in dropdown.less - TODO check themeswitch.js -->
                <li class="dropdown notifications-menu" ng-if="ss.session.offline!==true && !$parent.appConfig.FORCE_COLOR">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-paint-brush"></i>
                    </a>
                    <ul class="dropdown-menu color-palette">
                        <li class="header">
                            <button ng-repeat="color in ::themeColors track by $index" class="btn btn-theme-{{::color}}" ng-click="::changeTheme(color)">{{::color|translate}}</button>
                        </li>
                    </ul>
                </li>
                <!-- Language Selection ->
                <li class="dropdown notifications-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ languages[ss.session.language].codeLanguage }}</a><ul class="dropdown-menu"><li><ul class="menu">
                    <li ng-repeat="lang in languages">
                        <a href="#" ng-click="changeLanguage(lang)">
                            <i class="fa fa-language color-theme"></i>
                            {{ lang.titleEnglish | translate }} - {{ lang.titleLanguage }}
                        </a>
                    </li>
                </ul></li></ul></li>
                <!- Font Size Selection -->
                <li ng-if="isTouchDevice" class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-text-size"></i>
                        <span class="label label-warning" ng-if="scalePercent">{{scalePercent}}</span>
                    </a>
                    <ul class="dropdown-menu font-menu">
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#" ng-click="changeFontSize($event, true)" style="font-size:15px">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'INC_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="changeFontSize($event, false)" style="font-size:12px">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'DEC_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                                <li ng-if="scalePercent">
                                    <a href="#" ng-click="changeFontSize($event)">
                                        <i class="fa fa-font color-theme"></i>
                                        {{ 'RESET_FONT_SIZE' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="" ng-src="{{ photo }}" class="user-image" alt="User Image" onError="this.onerror=null;this.src='img/unknownUser.jpg'">
                        <span class="hidden-xs">{{ ss.getUsername() }}</span>
                    </a>
                    <ul class="dropdown-menu" ng-click="preventClose($event)">
                        <!-- User image -->
                        <li class="user-header bg-theme">
                            <img src="" ng-src="{{ photo }}" class="img-circle" alt="User Image" onError="this.onerror=null;this.src='img/unknownUser.jpg'">
                            <p>{{ ss.getUsername() }} - {{ ss.getRole() | translate }}</p>
                            <p style="min-height:7px">
                                <small ng-if="!branchSwitch.showBranchSelect">
                                    <span class="pull-left">
                                        <span ng-click="c.toggleSwitchBranch($event)" style="cursor:pointer">
                                            <i class="fa fa-building"></i> 
                                            {{ branchSwitch.currentBranch.branchName }}
                                            <span class="change-branch-shortcut"> (Change)</span>
                                        </span>
                                    </span>
                                    <span class="pull-right"><i class="fa fa-clock-o"></i> {{ ss.getFormatedCBSDate() }}</span>
                                </small>
                                <div ng-if="branchSwitch.showBranchSelect" style="height:20px;margin-top:-10px">
                                    <div style="width:230px">
                                        <select class="bg-theme form-control pull-left" ng-options="item as item.branchName for item in branchSwitch.allowedBranches track by item.branchId" ng-model="branchSwitch.selectedBranch" ng-change="c.updateNewBranch($event, branchSwitch.selectedBranch)"></select>
                                    </div>
                                    <div class="bg-theme pull-right" style="width:25px;height:34px;padding:8px;cursor:pointer">
                                        <i class="fa fa-times" ng-click="c.toggleSwitchBranch($event)"></i>
                                    </div>
                                </div>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body" ng-show="ss.settings.consoleLog">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <a href="#" ng-click="showLogs()"><i class="fa fa-terminal">&nbsp;</i>Console Logs</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#" ng-click="clearLogs()"><i class="fa fa-sticky-note-o">&nbsp;</i>Clear Logs</a>
                                </div>
                                <!-- <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div> -->
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left" ng-show="!$parent.latest_apk_force_upgrade">
                                <a ng-click="gotoPageEngine({pageName: 'UserProfile', pageId: ss.session.login})" href="#" class="btn btn-default btn-flat" onClick="$('.dropdown.user.user-menu').removeClass('open')">Profile</a>
                            </div>
                            <div class="pull-right" ng-hide="$parent.appConfig.CONNECT_PERDIX7 && isPerdix7Integrated">
                                <a ng-click="logout()" class="btn btn-default btn-flat" onClick="$('.dropdown.user.user-menu').removeClass('open')">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-show="$parent.latest_apk_force_upgrade" style="position:fixed;left:0;top:50px;right:0;bottom:0;background-color:rgba(0,0,0,0.65);text-align:center">
        <div style="padding-top:100px">
            <a href="#" ng-click="downloadFile($parent.latest_apk_url, $event)" style="color:#fff;display:block;">
                <i class="fa fa-cloud-download" style="font-size:7rem;text-shadow:0 0 80px #000"></i>
                <div style="font-size:1.6rem;text-shadow:0 0 30px rgba(0,0,0,0.8)">Upgrade Application</div>
                <div style="text-shadow:0 0 15px #000">to continue...</div>
            </a>
        </div>
    </div>
</header>