<div>
    <section class="content-header">
        <h1>Customer Enrollment Queue</h1>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-sm-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Github Repo Search</h3>
                    </div>
                    <div class="box-body">
                        <irf-search-box irf-search-definition="searchInfo" irf-search-url="SearchURL">
                        </irf-search-box>
                        <irf-list-view-rest-wrapper irf-lvr-wrapper-def="restWrapperDef" irf-lvr-query-url="SearchURL"></irf-list-view-rest-wrapper>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>